<%= turbo_frame_tag @exercise, :exercise_log do %>
  <% if Current.user.present? %>
    <div data-controller="form" data-action="tab-component:finished@window->form#submit">
      <%= form_with(url: exercise_log_path(@exercise), method: :patch) do |form| %>
        <%= form.hidden_field :bpm, value: 0 %>
        <%= form.hidden_field :duration, value: 0 %>
        <div class="d-none">
          <%= render(Bootstrap::Form::Button.new(form: form, label: "Save", type: :submit)) %>
        </div>
      <% end %>
    </div>
    <% if @exercise_logs.present? %>
      <div class="my-3">
        <%= render(Bootstrap::Card.new(title: "Log")) do |c| %>
          <%= render(Bootstrap::List::Group.new(flush: true)) do %>
            <% @exercise_logs.each do |date, exercise_logs| %>
              <%= render(Bootstrap::List::Item.new(text: l(date, format: :no_year))) %>
              <% exercise_logs.each do |exercise_log| %>
                <%= render(Bootstrap::List::Item.new(text: "#{exercise_log.bpm.to_s}bpm")) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
