<%= render(Bootstrap::Page.new(title: "Sign up")) do %>
  <%= form_with(url: sign_up_path) do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render(Bootstrap::Form::Input.new(form: form, field: :email, type: :email, autofocus: true, autocomplete: "email")) %>
    <%= render(Bootstrap::Form::Input.new(form: form, field: :password, type: :password, required: true, autocomplete: "new-password", hint: "12 characters minimum.")) %>
    <%= render(Bootstrap::Form::Input.new(form: form, field: :password_confirmation, type: :password, required: true, autocomplete: "new-password")) %>

    <%= render(Bootstrap::Form::Actions.new) do %>
      <%= render(Bootstrap::Form::Button.new(form: form, label: "Sign up", type: :submit)) %>
    <% end %>
  <% end %>
<% end %>
