<% title = Current.user.verified? ? "Change your email" : "Verify your email" %>
<%= render(Bootstrap::Page.new(title: title)) do %>
  <% unless Current.user.verified? %>
    <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
    <%= render(Bootstrap::Button.new(text: "Re-send verification email", to: identity_email_verification_path, style: :secondary, method: :post)) %>
  <% end %>

  <%= form_with(url: identity_email_path, method: :patch) do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render(Bootstrap::Form::Input.new(form: form, field: :email, type: :email, autocomplete: "email", label: "New email")) %>

    <%= render(Bootstrap::Form::Actions.new) do %>
      <%= render(Bootstrap::Form::Button.new(form: form, label: "Save changes", type: :submit)) %>
      <br/>
      <%= render(Bootstrap::Link.new(text: "Back", to: root_path)) %>
    <% end %>
  <% end %>
<% end %>
