<%= render(Bootstrap::Page.new(crumbs: [
  Bootstrap::Crumb.new(text: "Courses", to: courses_path),
  Bootstrap::Crumb.new(text: @course.name, to: @course)
], actions: @actions)) do %>
  <% if @course.description.present? %>
    <div class="mt-3">
      <h5>Description</h3>
      <%= @course.description %>
    </div>
  <% end %>
  <div class="mt-3">
    <% disabled = !@course.can_access?(Current.user) %>
    <h5>Exercises</h3>
    <%= render(Bootstrap::List::Group.new) do %>
      <% @course.exercises.order(:order).each do |exercise| %>
        <%= render(Bootstrap::List::Item.new(text: exercise.name, to: exercise, disabled: disabled)) %>
      <% end %>
    <% end %>

    <%= render(Bootstrap::Form::Actions.new) do %>
      <%= turbo_frame_tag @course, :enrollment, src: enrollment_path(@course) %>
    <% end %>
  </div>
<% end %>
